.form-check-input.secondary:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.form-check-input.danger:checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.form-check-input.warning:checked {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}

.form-check-input.success:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.form-check-input.dark:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.form-check-input.cyan:checked {
    background-color: var(--bs-cyan);
    border-color: var(--bs-cyan);
}

.form-check-input.info:checked {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}

.form-check-input.mute:checked {
    background-color: var(--bs-muted);
    border-color: var(--bs-muted);
}

.form-check-input.orange:checked {
    background-color: var(--bs-orange);
    border-color: var(--bs-orange);
}

.form-check-input.green:checked {
    background-color: var(--bs-green);
    border-color: var(--bs-green);
}

.form-check-input.indigo:checked {
    background-color: var(--bs-indigo);
    border-color: var(--bs-indigo);
}