//
// DUNET LXP - Skin_01 Style
//
/*////////////////////////////////////
 웹접근성 관련 : 포커스 표시 
////////////////////////////////////*/
// a:focus,
// a:focus-within {border:dotted 1px;}

// 대메뉴(GNB)
ul.gnb {margin:0; padding:0;}
ul.gnb li {padding:5px 15px; position:relative;}
ul.gnb li a.title {font-weight:600; font-size:16px; letter-spacing:-1px; color:#fff;}          
ul.gnb li .gnb-submenu {padding:20px 30px; border-radius:20px; border:solid 1px #ccc; background-color:#fff; white-space:nowrap; transition: all 0.3s ease-in-out;
position:absolute; top:0px; left:0px; z-index:10; transform: scale(0%); opacity:0; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
ul.gnb li:last-child .gnb-submenu {top:0px; left:initial; right:0;}
ul.gnb li:hover > .gnb-submenu,
ul.gnb li:focus-within > .gnb-submenu {top:40px; transform: scale(100%); opacity:1.0;}
ul.gnb li .gnb-submenu .menu-row {padding:3px 0;}
ul.gnb li .gnb-submenu .menu-row a {display:block; font-weight:600; color:#666; position:relative;}
ul.gnb li .gnb-submenu .menu-row a:hover {color:#6495ed;}
ul.gnb li .gnb-submenu .menu-row a:hover::after {display:block; content:''; width:4px; height:4px; border-radius:4px; background-color: #6495ed; position:absolute; top:calc(50% - 2px); left:-10px;}

@media all and (max-width:1200px){

}

@media all and (max-width:1024px){

}
@media all and (max-width:991px){

}


/*////////////////////////
 사이트 로고 이미지 
 ////////////////////////*/
 .site-logo a.logo-img img {height:50px;}
/* 테블릿*/
@media all and (max-width:991px){
    .site-logo a.logo-img {display:block;}
    .site-logo a.logo-img img {height:35px;}
}

.main-nav-tab {}
.main-nav-tab .nav-link.active, .main-nav-tab .show > .nav-link {
    font-weight: 600;
    color: var(--bs-primary);
    border-bottom-color: currentcolor;
}

/*////////////////////////////////////////////////////////////
index 페이지
////////////////////////////////////////////////////////////*/
// index 페이지 로그인 박스
.index-login .nav-link {color:#fff; opacity:0.5;}
.index-login .nav-link:hover {color:#fff; opacity:1;}
.index-login .nav-link.active {color:#fff; opacity:1;}

// 메인 슬라이드 영역 
.visual_banner_zone {padding:0; position:relative;}
.main_visual_rolling .outline {border-radius:15px; overflow:hidden;}

.visual_banner_zone .slick-prev, 
.visual_banner_zone .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top:initial;
    bottom: 10px;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    color:#333 !important;
    background-color:#fff;
    border-radius:50px;
}

.visual_banner_zone .slick-prev:before {content: '';}
[dir='rtl'] .visual_banner_zone .slick-prev:before {content: '';}

.visual_banner_zone .slick-next:before {content: '';}
[dir='rtl'] .visual_banner_zone .slick-next:before {content: '';}

.visual_banner_zone .slick-prev {
    left:20px;
    background:url('../../assets/images/navi_plus/mainvisual_navi_prev_org.png')  no-repeat center center; opacity:1; z-index:10;
}
.visual_banner_zone .slick-prev:hover, .visual_banner_zone .slick-prev:focus {
    background:url('../../assets/images/navi_plus/mainvisual_navi_prev.png')  no-repeat center center; opacity:1;
}
.visual_banner_zone .slick-next {
    left:70px;
    background:url('../../assets/images/navi_plus/mainvisual_navi_next_org.png')  no-repeat center center; opacity:1;
}
.visual_banner_zone .slick-next:hover, .visual_banner_zone .slick-next:focus {
    background:url('../../assets/images/navi_plus/mainvisual_navi_next.png')  no-repeat center center; opacity:1;
} 

.main_visual_rolling .slick-dots {bottom:20px;}
.main_visual_rolling .slick-dots li {margin:0;}
.main_visual_rolling .slick-dots li button:before {opacity:1; color:#cccccc; content:''; width:10px; height:10px; background-color:#ccc; border-radius:6px; transition: all 0.5s;}
.main_visual_rolling .slick-dots li.slick-active button:before {width:10px; background-color:#f56f65;}

/* 테블릿*/
@media all and (max-width:991px){
    .visual_banner_zone .slick-prev, 
    .visual_banner_zone .slick-next {
        top:50%;
        bottom:initial;
        background-size:100%;
    }
    .visual_banner_zone .slick-prev:hover, .visual_banner_zone .slick-prev:focus,
    .visual_banner_zone .slick-next:hover, .visual_banner_zone .slick-next:focus {
        background-size:100%;
    }

    .visual_banner_zone .slick-prev {left:20px;}
    .visual_banner_zone .slick-next {left:initial; right:20px;}
}
@media all and (max-width:768px){
}
@media all and (max-width:640px){
    .visual_banner_zone .slick-prev, 
    .visual_banner_zone .slick-next {
        width:30px;
        height:30px;
    }
    .visual_banner_zone .slick-prev {left:10px;}
    .visual_banner_zone .slick-next {right:10px;}

    .main_visual_rolling .slick-dots li {width:14px;}
    .main_visual_rolling .slick-dots li button:before {width:5px; height:5px;}
    .main_visual_rolling .slick-dots li.slick-active button:before {width:5px; background-color:#f56f65;}
    .main_visual_rolling .slick-dots {bottom:0;}
}
/* 모바일*/
@media all and (max-width:480px){
}


/*////////////////////////////////////////////////////////////
program-slide 리스트  
////////////////////////////////////////////////////////////*/
.program-list {}

.program-list .slick-prev, 
.program-list .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    color:#333 !important;
    background-size:100% !important;
}

.program-list .slick-prev:before {content: '';}
[dir='rtl'] .program-list .slick-prev:before {content: '';}

.program-list .slick-next:before {content: '';}
[dir='rtl'] .program-list .slick-next:before {content: '';}

.program-list .slick-prev {
    left:-25px;
    background:url('../../assets/images/navi_plus/navi_arrow_prev.png')  no-repeat center center; opacity: 0.7; z-index:10;
}
.program-list .slick-prev:hover, .program-list .slick-prev:focus {
    background:url('../../assets/images/navi_plus/navi_arrow_prev.png')  no-repeat center center; opacity: 1;
}
.program-list .slick-next {
    right:-25px;
    background:url('../../assets/images/navi_plus/navi_arrow_next.png')  no-repeat center center; opacity: 0.7;
}
.program-list .slick-next:hover, .program-list .slick-next:focus {
    background:url('../../assets/images/navi_plus/navi_arrow_next.png')  no-repeat center center; opacity: 1;
} 


.program-slide .slick-list {}

.program-slide {margin:0 -25px; padding-bottom:20px; position:relative;}
.program-slide .outline {margin:0 25px;}

.program-slide .slick-dots {bottom:0;}
.program-slide .slick-dots li {margin:0; width:15px;}
.program-slide .slick-dots li button:before {opacity:1; color:#cccccc; content:''; width:6px; height:6px; background-color:#ccc; border-radius:6px; transition: all 0.5s;}
.program-slide .slick-dots li.slick-active button:before {width:6px; background-color:#ff9d2f;}


/* 테스크탑 */
@media all and (max-width:1400px){
    .program-slide .outline {margin:0 15px;}
}
@media all and (max-width:1024px){
    .program-list {padding:0 30px 10px;}

    .program-slide {margin:0 -30px;}
    .program-slide .outline {margin:0 10px;}
}      
/* 테블릿*/
@media all and (max-width:768px){
    .program-list {padding:0 30px;}
    .program-slide .slick-dots {bottom:-10px;}      
}
/* 모바일*/
@media all and (max-width:480px){      
    .program-slide .outline {margin:0 5px;}
}


/*/////////////////////////////////////////////////////////////////////////
 강의 상세페이지
 /////////////////////////////////////////////////////////////////////////*/
// 강의 상세페이지내 과정 정보 박스(썸네일 포함)
.detailpage-lecture-info-box {position:absolute; top:-10px; right:0;}    
@media all and (max-width:768px){      
    .detailpage-lecture-info-box {margin-top:10px; position:relative; top:initial; right:initial;}
}

// 강의 상세페이지 탭 UI
.lecture-detail-tab {}
.lecture-detail-tab .list-group {border-radius:10px; border:solid 1px #ccc; overflow-x:auto;}
.lecture-detail-tab .list-group a {border-radius:0; border-top:none; border-bottom:none; text-align:center;}

// 반응형 table 공통
.table-responsive .table tbody tr:last-child th,
.table-responsive .table tbody tr:last-child td {border-bottom:none;}





/*////////////////////////
 footer
 ////////////////////////*/
a.btn-family-site {display:inline-block; padding:10px 20px; width:200px; color:#fff; font-size:14px; white-space:nowrap; box-sizing:border-box;}
a.btn-family-site:hover {background-color:#2a3140; color:#fff; text-decoration:none; border-radius:5px;}

.relative-site-list {position:absolute; bottom:calc(100% + 5px); right:0; width:200px; border-radius:10px; background-color:#1f2531; border:1px solid #464e5f; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,.1); z-index:2;}
.relative-site-list li {border-top:1px solid #464e5f;}
.relative-site-list li:first-child {border-top:none;}
.relative-site-list li a {display:block; padding:8px 20px; color:#fff; line-height:1.5; white-space:nowrap;}
.relative-site-list li a i {}
.relative-site-list li a:hover {background-color:#2a3140; color:#fff; text-decoration:none;}

/* 테블릿*/
@media all and (max-width:991px){
}
/* 모바일*/
@media all and (max-width:480px){
    a.btn-family-site {display:block; text-align:center; border:solid 1px #464e5f; border-radius:5px; width:100%;}
    .relative-site-list {width:100%;}
}
