//
// DUNET LXP - Skin_03 Style
//
/*////////////////////////////////////
 웹접근성 관련 : 포커스 표시 
////////////////////////////////////*/
// a:focus,
// a:focus-within {border:dotted 1px;}

/*////////////////////////////////////////////////////////////
index 페이지
////////////////////////////////////////////////////////////*/

// 메인 슬라이드 영역 
.ctl_visual_banner_zone {padding:0; position:relative;}
.ctl_main_visual_rolling .outline {}

.ctl_visual_banner_zone .slick-prev, 
.ctl_visual_banner_zone .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top:initial;
    bottom: 10px;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    color:#333 !important;
    background-color:#fff;
    border-radius:50px;
}

.ctl_visual_banner_zone .slick-prev:before {content: '';}
[dir='rtl'] .ctl_visual_banner_zone .slick-prev:before {content: '';}

.ctl_visual_banner_zone .slick-next:before {content: '';}
[dir='rtl'] .ctl_visual_banner_zone .slick-next:before {content: '';}

.ctl_visual_banner_zone .slick-prev {
    left:20px;
    background:url('../../assets/images/navi_plus/mainvisual_navi_prev_org.png')  no-repeat center center; opacity:1; z-index:10;
}
.ctl_visual_banner_zone .slick-prev:hover, .ctl_visual_banner_zone .slick-prev:focus {
    background:url('../../assets/images/navi_plus/mainvisual_navi_prev.png')  no-repeat center center; opacity:1;
}
.ctl_visual_banner_zone .slick-next {
    left:70px;
    background:url('../../assets/images/navi_plus/mainvisual_navi_next_org.png')  no-repeat center center; opacity:1;
}
.ctl_visual_banner_zone .slick-next:hover, .ctl_visual_banner_zone .slick-next:focus {
    background:url('../../assets/images/navi_plus/mainvisual_navi_next.png')  no-repeat center center; opacity:1;
} 

.ctl_main_visual_rolling .slick-dots {bottom:20px;}
.ctl_main_visual_rolling .slick-dots li {margin:0;}
.ctl_main_visual_rolling .slick-dots li button:before {opacity:1; color:#cccccc; content:''; width:10px; height:10px; background-color:#ccc; border-radius:6px; transition: all 0.5s;}
.ctl_main_visual_rolling .slick-dots li.slick-active button:before {width:10px; background-color:#f56f65;}

/* 테블릿*/
@media all and (max-width:991px){
    .ctl_visual_banner_zone .slick-prev, 
    .ctl_visual_banner_zone .slick-next {
        top:50%;
        bottom:initial;
        background-size:100%;
    }
    .ctl_visual_banner_zone .slick-prev:hover, .ctl_visual_banner_zone .slick-prev:focus,
    .ctl_visual_banner_zone .slick-next:hover, .ctl_visual_banner_zone .slick-next:focus {
        background-size:100%;
    }

    .ctl_visual_banner_zone .slick-prev {left:20px;}
    .ctl_visual_banner_zone .slick-next {left:initial; right:20px;}
}
@media all and (max-width:768px){
}
@media all and (max-width:640px){
    .ctl_visual_banner_zone .slick-prev, 
    .ctl_visual_banner_zone .slick-next {
        width:30px;
        height:30px;
    }
    .ctl_visual_banner_zone .slick-prev {left:10px;}
    .ctl_visual_banner_zone .slick-next {right:10px;}

    .ctl_main_visual_rolling .slick-dots li {width:14px;}
    .ctl_main_visual_rolling .slick-dots li button:before {width:5px; height:5px;}
    .ctl_main_visual_rolling .slick-dots li.slick-active button:before {width:5px; background-color:#f56f65;}
    .ctl_main_visual_rolling .slick-dots {bottom:0;}
}
/* 모바일*/
@media all and (max-width:480px){
}


/*////////////////////////////////////////////////////////////
메인 퀵배너 영역  
////////////////////////////////////////////////////////////*/
.ctl_main_quckbanner_zone {padding:0; bottom:0; left:calc(50% - 700px);}
.ctl_main_quckbanner_zone .slider:before {
    display:none;
}
.ctl_main_quckbanner_rolling a {transition: background-color 0.3s ease-out;}
.ctl_main_quckbanner_rolling a:hover {background-color: var(--bs-primary);}

/* 모바일*/
@media all and (max-width:1400px){
    .ctl_main_quckbanner_zone {left:0;}
}
/*////////////////////////////////////////////////////////////
program-slide 리스트  
////////////////////////////////////////////////////////////*/
.program-list {}

.program-list .slider:before {
    display:none;
}

.program-list .slick-prev, 
.program-list .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    color:#333 !important;
    background-size:100% !important;
}

.program-list .slick-prev:before {content: '';}
[dir='rtl'] .program-list .slick-prev:before {content: '';}

.program-list .slick-next:before {content: '';}
[dir='rtl'] .program-list .slick-next:before {content: '';}

.program-list .slick-prev {
    left:-25px;
    background:url('../../assets/images/navi_plus/navi_arrow_prev.png')  no-repeat center center; opacity: 0.7; z-index:10;
}
.program-list .slick-prev:hover, .program-list .slick-prev:focus {
    background:url('../../assets/images/navi_plus/navi_arrow_prev.png')  no-repeat center center; opacity: 1;
}
.program-list .slick-next {
    right:-25px;
    background:url('../../assets/images/navi_plus/navi_arrow_next.png')  no-repeat center center; opacity: 0.7;
}
.program-list .slick-next:hover, .program-list .slick-next:focus {
    background:url('../../assets/images/navi_plus/navi_arrow_next.png')  no-repeat center center; opacity: 1;
} 


.program-slide .slick-list {}

.program-slide {margin:0 -25px; padding-bottom:20px; position:relative;}
.program-slide .outline {margin:0 25px;}

.program-slide .slick-dots {bottom:0;}
.program-slide .slick-dots li {margin:0; width:15px;}
.program-slide .slick-dots li button:before {opacity:1; color:#cccccc; content:''; width:6px; height:6px; background-color:#ccc; border-radius:6px; transition: all 0.5s;}
.program-slide .slick-dots li.slick-active button:before {width:6px; background-color:#ff9d2f;}


/* 테스크탑 */
@media all and (max-width:1400px){
    .program-slide .outline {margin:0 15px;}
}
@media all and (max-width:1024px){
    .program-list {padding:0 30px 10px;}

    .program-slide {margin:0 -30px;}
    .program-slide .outline {margin:0 10px;}
}      
/* 테블릿*/
@media all and (max-width:768px){
    .program-list {padding:0 30px;}
    .program-slide .slick-dots {bottom:-10px;}      
}
/* 모바일*/
@media all and (max-width:480px){      
    .program-slide .outline {margin:0 5px;}
}


/*/////////////////////////////////////////////////////////////////////////
 강의 상세페이지
 /////////////////////////////////////////////////////////////////////////*/
// 강의 상세페이지내 과정 정보 박스(썸네일 포함)
.detailpage-lecture-info-box {position:absolute; top:-10px; right:0;}    
@media all and (max-width:768px){      
    .detailpage-lecture-info-box {margin-top:10px; position:relative; top:initial; right:initial;}
}

// 강의 상세페이지 탭 UI
.lecture-detail-tab {}
.lecture-detail-tab .list-group {border-radius:10px; border:solid 1px #ccc; overflow-x:auto;}
.lecture-detail-tab .list-group a {border-radius:0; border-top:none; border-bottom:none; text-align:center;}

// 반응형 table 공통
.table-responsive .table tbody tr:last-child th,
.table-responsive .table tbody tr:last-child td {border-bottom:none;}





/*////////////////////////
 footer
 ////////////////////////*/
a.btn-family-site {display:inline-block; padding:10px 20px; width:200px; color:#fff; font-size:14px; white-space:nowrap; box-sizing:border-box;}
a.btn-family-site:hover {background-color:#2a3140; color:#fff; text-decoration:none; border-radius:5px;}

.relative-site-list {position:absolute; bottom:calc(100% + 5px); right:0; width:200px; border-radius:10px; background-color:#1f2531; border:1px solid #464e5f; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,.1); z-index:2;}
.relative-site-list li {border-top:1px solid #464e5f;}
.relative-site-list li:first-child {border-top:none;}
.relative-site-list li a {display:block; padding:8px 20px; color:#fff; line-height:1.5; white-space:nowrap;}
.relative-site-list li a i {}
.relative-site-list li a:hover {background-color:#2a3140; color:#fff; text-decoration:none;}

/* 테블릿*/
@media all and (max-width:991px){
}
/* 모바일*/
@media all and (max-width:480px){
    a.btn-family-site {display:block; text-align:center; border:solid 1px #464e5f; border-radius:5px; width:100%;}
    .relative-site-list {width:100%;}
}
