[data-bs-theme="light"][data-color-theme="Kunyang_Theme"],
[data-bs-theme="dark"][data-color-theme="Kunyang_Theme"] {
  $primary: #006a43;
  $light-primary: rgba($primary, 0.1);
  $secondary: #73c452;
  $light-secondary: rgba($secondary, 0.1);

  $direction: 135deg;
  .bg-gradient-primary {
    background-image: linear-gradient($direction, $primary 60%, $secondary 100%);
  }
  .bg-gradient-primary-0 {
    background-image: linear-gradient($direction, $primary 0%, $secondary 100%);
  }
  // 나의 강의실 전용메뉴 bg
  .bg-mylectrue-menu { 
    background:#006a43;
  }
  
  &:root {
    --bs-primary: #{$primary};
    --bs-primary-rgb: 0, 106, 67;
    --bs-light-primary: #{$light-primary};
    --bs-primary-bg-subtle: #{$light-primary};
    
    --bs-secondary: #{$secondary};
    --bs-secondary-rgb: 115, 196, 82;
    --bs-light-secondary: #{$light-secondary};
    --bs-secondary-bg-subtle: #{$light-secondary};

    .btn-primary {
      --bs-btn-bg: #{$primary};
      --bs-btn-border-color: #{$primary};
      --bs-btn-hover-bg: #006a43;
      --bs-btn-hover-border-color: #128d60;
    }

    .btn-secondary {
      --bs-btn-bg: #{$secondary};
      --bs-btn-border-color: #{$secondary};
      --bs-btn-hover-bg: #73c452;
      --bs-btn-hover-border-color: #8ee06d;
      
    }
  }
}
